services:
  app:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
      args:
        - UID=${UID}
        - GID=${GID}
    container_name: app
    volumes:
      - ./:/var/www
    networks:
      - movie-backend
    depends_on:
      - postgres
      - redis

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
    networks:
      - movie-backend
    depends_on:
      - app

  postgres:
    image: postgres:latest
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"
    networks:
      - movie-backend

  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - movie-backend

networks:
  movie-backend:
    driver: bridge

volumes:
  postgres_data:
